# ============================================================
# Smart SIEM - .gitignore
# ============================================================

# Environnement virtuel
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Projet
.env
*.log
*.db
.pytest_cache/
.cache/
.coverage
.mypy_cache/

# Docker
certs/
*.pem

# Claude (config personnelle)
.claude/


clue.json